.roundedBorder
{  
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  -khtml-border-radius:4px;
}

.hidden
{
  display:none !important;
}

.invisible
{
  visibility:hidden !important;
}